<header>
	<div>
		<h1>
			Mitigate GPS Spoofing with enviornmental <br />
			OCR.
		</h1>
		<p>
			Validate the location of a vehicle with images of the surrounding
			enviornment. Tool created by James Worden.
		</p>
	</div>
	<nav id="navbar">
		<ul>
			<li>
				<%- include("icon.html" ) %>
				<a target="_self" href="#route">Route API</a>
			</li>
			<li>
				<%- include("icon.html" ) %>
				<a target="_self" href="#validate">Validate API</a>
			</li>
			<li>
				<%- include("icon.html" ) %>
				<a
					target="_self"
					href="https://github.com/jamesworden/jamesworden-research"
					>GitHub</a
				>
			</li>
		</ul>
	</nav>
</header>
