# Node & IDE
node_modules/
.vscode/
.build/

# Serverless
.serverless/
james worden research api-_star_-_star_-policy.json
env.yml

# Environment
**/.env
**/*env.json
GoogleServiceCredentials.json

# Testing
coverage/
**/*testfile.ts
**/*testfile.js

# Tesseract
**/*.traineddata