{
	"arrowParens": "always",
	"bracketSpacing": false,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"jsxBracketSameLine": true,
	"printWidth": 80,
	"proseWrap": "preserve",
	"requirePragma": false,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": false,
	"vueIndentScriptAndStyle": true,
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"printWidth": 200
			}
		}
	]
}
