<pre id="javascript" class="code example-code">
// Define variables
const origin = '<strong><%= origin %></strong>';
const destination = '<strong><%= destination %></strong>';
const increment = <strong><%= increment %></strong>;
const key = 'YOUR_KEY_HERE'

// Create URL
const url = `https://research.jamesworden.com/route?origin=${origin}&destination=${destination}&increment=${increment}&key=${key}`;

// Use fetch to send request
async function getData() {
	const response = await fetch(url, {
		headers: {
			'x-api-key': 'YOUR_KEY_HERE',
		},
	});
	return response.json();
}

// Execute request
getData().then((data) => {
	// Your code here
	console.log(data);
});
</pre>
