<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head.html" ) %>
	<body onload="changeCode('javascript');">
		<%- include("partials/sidebar.html" ) %>
		<div id="container">
			<section>
				<h2>About</h2>
				<p>
					Optical Character Recognition (OCR) is a powerful tool that allows text to be
					extracted from images. Using OCR, we can identify sequences of letters from
					images of the outdoors. Street signs, billboards, buildings, and other
					structures contain text that can be used to identify where an image was taken.
					Images can be taken incrementally while a vehicle is moving to validate its
					location. If a vehnicle were to send a false GPS signal, images of the outside
					may validate whether this signal is truthful or not. This tool contains API
					services that fulfill functions related to GPS coordinate validation using OCR.
				</p>
				<p>
					All API calls return JSON objects and require an API key as a query parameter.
					(Contact James for a key.)
				</p>
				<div class="code">&key=YOUR_KEY_HERE</div>
			</section>
			<section>
				<h2 id="report" style="margin-bottom: 0rem">Report API</h2>
				<div id="detourcount" class="count"></div>
				<div id="detourmap" class="map"></div>
				<p class="status"></p>
				<form id="form">
					<label for="origin">Origin Address</label><br />
					<input
						type="text"
						id="origin"
						name="origin"
						value="<%= origin %>"
					/><br />
					<label for="destination">Destination Address</label><br />
					<input
						type="text"
						id="destination"
						name="destination"
						value="<%= destination %>"
					/><br />
					<label for="increment"> Increment Distance (in meters) </label><br />
					<input
						type="number"
						id="increment"
						name="increment"
						min="<%= minIncrement%>"
						max="<%=maxIncrement%>"
						value="<%= increment%>"
					/><br />
					<label for="waypoints"> Detour Waypoints </label><br />
					<input
						type="text"
						id="waypoints"
						name="waypoints"
						value="<%= waypoints%>"
					/><br />
					<label for="origin">API Key</label><br />
					<input type="text" id="key" name="key" value="<%= key %>" /><br />
					<button type="submit">Get route</button>
				</form>
				<p>
					Get a report determining whether our OCR methologies can sense a detour in a
					route. With a given origin, destination, and waypoints, a two routes can be
					created and compared for irregularities. The first route is between the origin
					and destination. The second route is between the origin and destination but
					stops at every given waypoint. Traveling to a waypoint simulates a detour in a
					vehicle's travel.
				</p>
				<p>
					The blue makers on the map above represent a locations along a detour route. The
					green marker represents a single waypoint that was specified to simulate the
					detour. The red markers represent the route directly between the given origin
					and destination address.
				</p>
				<p>
					Required Query Parameters: <strong>origin, destination, & waypoints</strong
					><br /> Optional Query Parameters: <strong>increment</strong><br />The origin 
					and desination query parameters should contain addresses.<br />
					Waypoints should appear in the format:
				</p>
				<pre class="code">Address 1 | Address 2 | Address 3</pre>
				<p>Example Report API JSON object:</p>
				<pre class="code" id="report-json"></pre>
				<p>Report API: Example HTTP GET Request:</p>
				<div class="code">
					https://research.jamesworden.com/api/report<br />
					<strong>?origin</strong>=New York, NY 10119&destination=56 E 34th St, New York,
					NY 10016<br /><strong>&destination</strong>=940 Madison Ave, New York, NY
					10021<br /><strong>&waypoints</strong>=151 W 34th St, New York, NY 10001|63 W
					38th St, New York, NY 10018
				</div>
			</section>
			<section>
				<h2 id="route" style="margin-bottom: 0rem">Route API</h2>
				<div id="routecount" class="count"></div>
				<div id="routemap" class="map"></div>
				<p class="status"></p>
				<p>
					Given an origin and destination address, an array of GPS coordinates will be
					returned. Each coordinate is an array itself - the first and seconds points are
					latitude and longitude, respectfully. The optional increment query parameter is
					distance between each incremental coordinate pair.
				</p>
				<p>
					Required Query Parameters: <strong>origin & destination</strong> <br />
					Optional Query Parameters: <strong>increment</strong>
				</p>
				<p>Route API: Example HTTP GET Request:</p>
				<div class="code">
					https://research.jamesworden.com/route<br />
					?origin=<strong><%= origin %></strong><br />
					&destination=<strong><%= destination %></strong><br />
					&increment=<strong><%= increment %></strong>
				</div>
				<p>First <%= numExampleCoordinatePairs %> coordinate pairs returned.</p>
				<pre id="data" class="code"></pre>
			</section>
			<section>
				<h3>Panorama ID</h3>
				<p>
					The Google StreetView API contains panorama images that can be referenced by
					panorama id strings. Set the panoid query parameter to true for Google
					StreetView panorama id's alongside each coordinate pair of the Route API. By
					default this setting is set to false.
				</p>
				<p>
					Optional Query Parameters: <strong>panoid</strong><br />
					This query parameter should be in the format:
				</p>
				<pre class="code">&panoid=true</pre>
				<p>Example Route API JSON object with panoid set to true:</p>
				<pre class="code">
{
	"location": {
		"latitude": 40.72499649420905,
		"longitude": -73.79225323669348
	},
	"pano_id": "PANORAMA_ID"
}</pre
				>
			</section>
			<section>
				<h3>Panorama Text</h3>
				<p>
					Get extracted text from surrounding enviornment of each coordinate pair by
					adding setting the panotext query parameter to true. Google Cloud Vision OCR
					extracts the text from Google StreetView API images at each location.
				</p>
				<p>
					Optional Query Parameters: <strong>panotext</strong><br />
					This query parameter should be in the format:
				<p>
				<pre class="code">&panotext=true</pre>
				</p>Example Route API JSON object with panotext set to true:</p>
				<pre class="code">
{
	"location": {
		"latitude": 40.72499649420905,
		"longitude": -73.79225323669348
	},
	"pano_text": "EXAMPLE TEXT, MORE TEXT"
}</pre
				>
			</section>
			<section>
				<h2>Example Code</h2>
				<div id="button-container">
					<button
						class="code-button"
						id="javascript-button"
						onclick="changeCode('javascript')"
					>
						JavaScript
					</button>
					<button class="code-button" id="java-button" onclick="changeCode('java')">
						Java
					</button>
					<button class="code-button" id="python-button" onclick="changeCode('python')">
						Python
					</button>
				</div>
				<%- include("partials/snippets/javascript.html") %> <%-
				include("partials/snippets/java.html") %> <%-
				include("partials/snippets/python.html") %>
			</section>
			<!-- Code Snippets -->
			<%- include("partials/scripts/snippets.html" ) %>
			<!-- Sticky Navbar -->
			<%- include("partials/scripts/stickyNav.html" ) %>
			<!-- Google Maps -->
			<%-include("partials/scripts/initMap.html" ) %>
		</div>
	</body>
</html>
