<!-- Google Maps API -->
<script
	async
	defer
	src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&map_ids=b07d0e4dc4f381fb&libraries=places&callback=initMap"
></script>
<!-- Create google maps callback function -->
<script>
	// Google Maps callback function
	function initMap() {
		// Declare variables passed through EJS rendering
		const origin = '<%-origin%>',
			error = '<%= error %>',
			destination = '<%=destination%>',
			numExampleCoordinatePairs = <%-numExampleCoordinatePairs%>,
			markerPlacementSpeed = <%-markerPlacementSpeed%>;

		let route = <%-route%>,
			report =  <%-report%>;

		detour = route.detour;
		waypoint = route.detour_waypoint;
		route = route.route;
		report = report;

		// Display errors for serverside route definition
		if (error) {
			document.querySelectorAll('#status').forEach((element) => {
				element.innerHTML = error;
			});
		}

		// Report API Map
		const detourmap = new google.maps.Map(document.getElementById('detourmap'));
		initRoute(detourmap, origin, destination);
		initCount(route.length + detour.length, true)
		placeMarker(waypoint['latitude'], waypoint['longitude'], detourmap, 'green');
		recursiveMarker(route, 0, detourmap, 'red', markerPlacementSpeed)
		setTimeout(() => {
			recursiveMarker(detour, 0, detourmap, 'blue', markerPlacementSpeed)
		}, markerPlacementSpeed / 2)

		// Route API Map
		const routemap = new google.maps.Map(document.getElementById('routemap'));
		initRoute(routemap, origin, destination);
		initCount(route.length, false)
		document.getElementById('container').addEventListener('scroll', function (event) {
			if (isInViewport(document.getElementById('routemap'))) {
				recursiveMarker(route, 0, routemap, 'red', markerPlacementSpeed)
			}
		});

		// Autocomplete Fields for Route API
		new google.maps.places.Autocomplete(document.getElementById('origin'));
		new google.maps.places.Autocomplete(document.getElementById('destination'));

		// Re-Initialize map whenever the window reloads
		google.maps.event.addDomListener(window, 'load', initMap);

		// Route API Coordinate Pairs
		data = [];
		for (i = 0; i < Math.min(numExampleCoordinatePairs, route.length); i++) data.push(route[i]['location']);
		document.getElementById('data').textContent = JSON.stringify({ route: data }, null, 2);

		// Report API
		document.getElementById('report-json').textContent = JSON.stringify(report, null, 2);
	}

	const recursiveMarker = (route, i, map, color, speed) => {
		setTimeout(() => {
			if (i < route.length) {
				placeMarker(route[i].location.latitude, route[i].location.longitude, map, color);
				i++
				recursiveMarker(route, i, map, color, speed)
			}
		}, speed)
	}

	function placeMarker(latitude, longitdue, map, color) {
		new google.maps.Marker({
				position: new google.maps.LatLng(latitude, longitdue),
				icon: { url: `http://maps.google.com/mapfiles/ms/icons/${color}-dot.png` },
				map,
			});
	}

	// Initialize route using Google's directions service
	function initRoute(map, origin, destination, zoom) {
		// Configure the request to setup the route within the map
		directionsDisplay = new google.maps.DirectionsRenderer();
		directionsService = new google.maps.DirectionsService();
		var request = { origin, destination, travelMode: 'DRIVING' };
		// Get the route
		directionsService.route(request, function (result, status) {
			if (status == 'OK') {
				var directionsDisplay = new google.maps.DirectionsRenderer({
					map: map,
				});
				directionsDisplay.setDirections(result);
			}
		});
	}

	// Set example Route data
	function initCount(count, detour) {
		countText = document.getElementById(detour ? 'detourcount' : 'routecount');
		countText.innerHTML = `${count} coordinate pairs`;
	}

	function isInViewport(element) {
		var bounding = element.getBoundingClientRect();
		if (
			bounding.top >= 0 &&
			bounding.left >= 0 &&
			bounding.right <= (window.innerWidth || document.documentElement.clientWidth) &&
			bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight)
		) return true;
		else return false;
	}
</script>
