<!-- Google Maps API -->
<script
	async
	defer
	src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&map_ids=b07d0e4dc4f381fb&libraries=places&callback=initMap"
></script>
<!-- Create google maps callback function -->
<script>
	// Google Maps callback function
	function initMap() {
		// Declare variables passed through EJS rendering
		const origin = '<%-origin%>',
			error = '<%= error %>',
			destination = '<%=destination%>',
			route = <%-route%>,
			detour = <%-detour%>,
			report = <%-report%>;

		// Display errors for serverside route definition
		if (error) {
			document.getElementsByClassName('status').forEach((element) => {
				element.innerHTML = error;
			});
		}
		// Report API Example
		document.getElementById('report-json').textContent = JSON.stringify(report, null, 2);

		// Route API Map
		const routemap = new google.maps.Map(document.getElementById('routemap'));
		initRoute(routemap, origin, destination);
		initMarkers(routemap, route);

		// Report API Map
		const detourmap = new google.maps.Map(document.getElementById('detourmap'));
		initRoute(detourmap, origin, destination);
		initMarkers(detourmap, route);
		initMarkers(detourmap, detour, true); // True for detour route

		// Autocomplete Fields for Route API
		new google.maps.places.Autocomplete(document.getElementById('origin'));
		new google.maps.places.Autocomplete(document.getElementById('destination'));

		// Re-Initialize map whenever the window reloads
		google.maps.event.addDomListener(window, 'load', initMap);
	}
</script>
