<!-- Google Maps API -->
<script
	async
	defer
	src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&map_ids=b07d0e4dc4f381fb&libraries=places&callback=initMap"
></script>
<!-- Create google maps callback function -->
<script>
	// Google Maps callback function
	function initMap() {
		// Declare variables passed through EJS rendering
		const origin = '<%-origin%>',
			destination = '<%=destination%>',
			numExampleCoordinatePairs = <%-numExampleCoordinatePairs%>,
			markerPlacementSpeed = <%-markerPlacementSpeed%>;

		let route = <%-route%>,
			detour =  <%-detour%>,
			report =  <%-report%>,
			error = '<%= error %>';

		// Display errors for serverside route definition
		if (route.error) error = detour.error;
		else if (detour.error) error = route.error;
		if (error) {
			document.querySelectorAll('.status').forEach((element) => {
				element.innerHTML = error;
			});
			return;
		}

		detour = detour.route;
		route = route.route;
		waypoints = detour.waypoints;

		// Report API Map
		const detourmap = new google.maps.Map(document.getElementById('detourmap'));
		initRoute(detourmap, origin, destination);
		initCount(route.length + detour.length, true)
		if (waypoints) {
			for (i = 0; i < waypoints.length; i++) {
				waypoint = waypoints[i]['location']
				placeMarker(waypoint['latitude'], waypoint['longitude'], detourmap, 'green');
			}
		}
		recursiveMarker(route, detourmap, 'red', markerPlacementSpeed, 0)
		setTimeout(() => { // Delay the detour points so they don't immediately overlap
			recursiveMarker(detour, detourmap, 'blue', markerPlacementSpeed, 0)
		}, markerPlacementSpeed / 2)

		// Route API Map
		const routemap = new google.maps.Map(document.getElementById('routemap'));
		initRoute(routemap, origin, destination);
		initCount(route.length, false)
		document.getElementById('container').addEventListener('scroll', function (event) {
			if (isInViewport(document.getElementById('routemap'))) {
				recursiveMarker(route, routemap, 'red', markerPlacementSpeed, 0)
			}
		});

		// Autocomplete Fields for Route API
		new google.maps.places.Autocomplete(document.getElementById('origin'));
		new google.maps.places.Autocomplete(document.getElementById('destination'));
		new google.maps.places.Autocomplete(document.getElementById('waypoints'));

		// Re-Initialize map whenever the window reloads
		google.maps.event.addDomListener(window, 'load', initMap);

		// Route API Coordinate Pairs
		data = [];
		for (i = 0; i < Math.min(numExampleCoordinatePairs, route.length); i++) data.push(route[i]['location']);
		document.getElementById('data').textContent = JSON.stringify({ route: data }, null, 5);

		// Report API
		document.getElementById('report-json').textContent = JSON.stringify(report, null, 5);
	}
	// Given an array of points, a map, waypoint color, and speed, this will place markers along the map
	const recursiveMarker = (route, map, color, speed, i) => {
		setTimeout(() => {
			if (i < route.length) {
				placeMarker(route[i].location.latitude, route[i].location.longitude, map, color);
				i++
				recursiveMarker(route, map, color, speed, i)
			}
		}, speed)
	}
	// Place a given colored marker on a specified map at a certain location
	function placeMarker(latitude, longitdue, map, color) {
		new google.maps.Marker({
				position: new google.maps.LatLng(latitude, longitdue),
				icon: { url: `http://maps.google.com/mapfiles/ms/icons/${color}-dot.png` },
				map,
			});
	}
	// Initialize route using Google's directions service
	function initRoute(map, origin, destination, zoom) {
		// Configure the request to setup the route within the map
		directionsDisplay = new google.maps.DirectionsRenderer();
		directionsService = new google.maps.DirectionsService();
		var request = { origin, destination, travelMode: 'DRIVING' };
		// Get the route
		directionsService.route(request, function (result, status) {
			if (status == 'OK') {
				var directionsDisplay = new google.maps.DirectionsRenderer({
					map: map,
				});
				directionsDisplay.setDirections(result);
			}
		});
	}
	// Set example Route data
	function initCount(count, detour) {
		countText = document.getElementById(detour ? 'detourcount' : 'routecount');
		countText.innerHTML = `${count} coordinate pairs`;
	}

	function isInViewport(element) {
		var bounding = element.getBoundingClientRect();
		if (
			bounding.top >= 0 &&
			bounding.left >= 0 &&
			bounding.right <= (window.innerWidth || document.documentElement.clientWidth) &&
			bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight)
		) return true;
		else return false;
	}
</script>
