<script>
	function initMarkers(map, route) {
		// Parse through the stringified EJS route
		routeObject = route.replaceAll('&#34;', '"');
		routeObject = JSON.parse(routeObject);
		routeObject = routeObject.route;

		// Loop through the route object and initialize all the markers
		for (i = 0; i < routeObject.length; i++) {
			new google.maps.Marker({
				position: new google.maps.LatLng(
					routeObject[i].location.latitude,
					routeObject[i].location.longitude
				),
				map,
			});
		}
		// Set how many coordinate pairs there are
		let countText = document.getElementById('count');
		countText.innerHTML = `${routeObject.length} coordinate pairs`;

		// Set how many pieces of data to show off
		const numExampleCoordinatePairs = '<%= numExampleCoordinatePairs %>';

		// Create example data
		let data = [];
		for (i = 0; i < numExampleCoordinatePairs; i++)
			data.push(routeObject[i]);
		let exampleRoute = { route: data };
		let dataText = document.getElementById('data');

		// JSON Stringify options are used to prettify the string.
		dataText.textContent = JSON.stringify(exampleRoute, null, 2);
	}
</script>
