<script>
	function initMarkers(map, route, detour = false) {
		route = route.route;
		// Loop through the route object and initialize all the markers
		for (i = 0; i < route.length; i++) {
			color = detour ? (route[i].detour ? 'green' : 'blue') : 'red';
			new google.maps.Marker({
				position: new google.maps.LatLng(
					route[i].location.latitude,
					route[i].location.longitude
				),
				icon: {
					url: `http://maps.google.com/mapfiles/ms/icons/${color}-dot.png`,
				},
				map,
			});
		}
		// Set example Route data
		countText = document.getElementById(detour ? 'detourcount' : 'routecount');
		countText.innerHTML = `${route.length} coordinate pairs`;
		const numExampleCoordinatePairs = '<%= numExampleCoordinatePairs %>';

		let data = [];
		for (i = 0; i < numExampleCoordinatePairs; i++) data.push(route[i]);
		document.getElementById('data').textContent = JSON.stringify({ route: data }, null, 2);
	}
</script>
