<script>
	// Initialize route using Google's directions service
	function initRoute(map, origin, destination, zoom) {
		// Configure the request to setup the route within the map
		directionsDisplay = new google.maps.DirectionsRenderer();
		directionsService = new google.maps.DirectionsService();
		var request = { origin, destination, travelMode: 'DRIVING' };
		// Get the route
		directionsService.route(request, function (result, status) {
			if (status == 'OK') {
				var directionsDisplay = new google.maps.DirectionsRenderer({
					map: map,
				});
				directionsDisplay.setDirections(result);
			}
		});
	}
</script>
